<header class="main-header">
    <nav class="navbar">
        <a href="/" class="logo">ZadStore</a>
        <div class="nav-links">
            <a href="/">Tienda</a>
            <a href="/cart">Carrito (<%= cart.length %>)</a>
            
            <% if (user) { %>
                <a href="/history">Historial</a>
                <span class="user-greeting">Hola, **<%= user.username %>**</span>
                <a href="/logout" class="btn-logout">Cerrar Sesión</a>
            <% } else { %>
                <a href="/login">Iniciar Sesión</a>
                <a href="/register">Registrarse</a>
            <% } %>
        </div>
    </nav>
</header>